<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net45" />
  <package id="FluentNHibernate" version="2.0.1.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Nancy" version="1.0.0" targetFramework="net45" />
  <package id="Nancy.Bootstrappers.Windsor" version="1.0.0" targetFramework="net45" />
  <package id="Nancy.Owin" version="1.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="NHibernate" version="4.0.0.4000" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.0.36" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.36" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="4.0.36" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.36" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.0.394" targetFramework="net45" />
</packages>